/* pc.css */
body {
  /* background: #ccc; */
  font-size: 20px;
}

section h2 {
  font-size: 50px;
}

.container {
  width: 100%;
  /* max-width: 1440px;
  margin: 0 auto; */
  padding-left: 30px;
  padding-right: 30px;
  /* outline: 1px solid #333; */
}

#toggle-btn {
  display: none;
}

#main-header {
  border-bottom: 1px solid #ccc;
}

#main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--pc-header-height);
}

#gnb ul li {
  display: inline-block;
  margin-left: 140px;
}


/* 메인 비주얼 */
#main-visual {
  background: #FCEEAD;
  width: 100%;
  height: 100vh;
}

#main-visual .container {
  display: flex;
  background: #ccc;
}